<div class="container">
	<div class="row">
        <div class="col-lg-4 col-sm-3"></div>
		<div class="col-lg-4 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                    <a class="btn btn-sm editIconCss" (click)="editUser()">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                </div>
                <div class="info">
                    
                    <div class="title">
                        <a target="_blank">{{user.name}}</a>
                     </div>
                    <div class="desc">{{user.email}}</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-3"></div>
	</div>
</div>